<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span>LOC Viewer</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-form-field appearance="fill">
  <mat-label>Repository name</mat-label>
  <mat-select [(ngModel)]="selectedRepo" name="repo" (selectionChange)="onOptionSelected($event)">
    <mat-option *ngFor="let repo of repoSet" [value]="repo">
      {{repo}}
    </mat-option>
  </mat-select>
</mat-form-field>

<svg width="760" height="300">
  <g id = "chart1"></g>
</svg>
<svg width="760" height="300">
  <g id = "chart2"></g>
</svg>

<app-mainlist></app-mainlist>